body {
  background-color: #f1f3f7;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.slick-list {
  max-height: 290px;
  left: -45px;
  overflow: initial;
}

.slick-track {
  display: flex;
  gap: 16px;
}
